.card
  .card-block
    .card-title
      %h5= project.name
  %ul.list-group.list-group-flush
    %li.list-group-item
      code: 
      %code= project.code
        
  .card-block
    = link_to "Posts (#{project.posts.count})", project_posts_path(project), class: 'btn btn-primary btn-sm', uib_tooltip: project_stats(project)
    = link_to 'Edit', edit_project_path(project), class: 'btn btn-info btn-sm card-link'
    = link_to 'Delete', project_path(project), method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-danger btn-sm card-link pull-xs-right'
