%h3 Welcome to Sherwood ...
%ol
  %li Collect steemit posts.
  %li ...
  %li Profit!
  
%hr

- Project.has_posts.find_each do |project|
  .row
    %h3
      = project.name
  .row
    %ul.nav.nav-tabs
      %li.nav-item
        = link_to 'Posts', "##{project.code}-posts",
        id: "#{project.code}-posts-tab", class: 'nav-link active',
        data: { toggle: 'tab'}
      %li.nav-item
        = link_to 'Stats', "##{project.code}-stats",
        id: "##{project.code}-stats-tab", class: 'nav-link',
        data: { toggle: 'tab'}
      %li.nav-item
        = link_to 'Authors', "##{project.code}-authors",
        id: "##{project.code}-authors-tab", class: 'nav-link',
        data: { toggle: 'tab'}
    
    - if project.posts.any?
      .tab-content
        .tab-pane.active{id: "#{project.code}-posts"}
          = render partial: 'saved_queries', locals: {project: project}
        .tab-pane{id: "#{project.code}-stats"}
          = render partial: 'stats', locals: {project: project}
        .tab-pane{id: "#{project.code}-authors"}
          %author_index_card{project_id: project.id}

%hr

= link_to 'Projects', projects_path, class: 'btn btn-info'
