%h3 Welcome to Sherwood ...
%ol
  %li Collect steemit posts.
  %li ...
  %li Profit!
  
%hr

- Project.all.each do |project|
  - if project.posts.any?
    %h3
      = project.name
      = link_to "Posts (#{project.posts.count})", project_posts_path(project, sort_field: 'created_at', sort_order: 'desc'),
      class: 'btn btn-primary btn-sm', uib_tooltip: project_stats(project)
      = link_to "Authors", project_authors_path(project), class: 'btn btn-primary btn-sm'
    - if (p = project.posts.accepted.published.created(24.hours.ago)).any?
      Posts today:
      = p.count
      = surround '(', ')' do
        = "$%.2f" % p.map(&:best_payout_value).sum
    %hr
    = render partial: 'saved_queries', locals: {project: project}
    %hr

= link_to 'Projects', projects_path, class: 'btn btn-info'
