%h3 Welcome to Sherwood ...
%ol
  %li Collect steemit posts.
  %li ...
  %li Profit!
  
%hr

- Project.all.each do |project|
  %h3
    = project.name
    = link_to "Posts (#{project.posts.count})", project_posts_path(project), class: 'btn btn-primary btn-sm', uib_tooltip: project_stats(project)
  - if (p = project.posts.accepted.published.today).any?
    Posts today:
    = p.count
    = surround '(', ')' do
      = "$%.2f" % p.map(&:best_payout_value).sum

= render partial: 'saved_queries'

%hr

= link_to 'Projects', projects_path, class: 'btn btn-info'
