%tr{uib_tooltip: post.notes, class: public_posts_table_row_class(post)}
  %td
    - if post.flagged?
      .glyphicon.glyphicon-flag
    - else
      .glyphicon.glyphicon-ok
  %td= link_to post.steem_author, "https://steemit.com/@#{post.steem_author}"
  %td
    %relative_timestamp= post.created_at.iso8601
  %td
    %span{uib_tooltip: public_post_detailed_payout(post)}
      = post.content.pending_payout_value
  %td= post.content.active_votes.size
  %td= link_to truncate(post.title, length: 80), post.canonical_url