%tr{uib_tooltip: post.notes, class: public_posts_table_row_class(post)}
  %td
    - if post.published? && post.rejected?
      .glyphicon.glyphicon-flag
    - else
      .glyphicon.glyphicon-ok
  %td= link_to post.steem_author, "https://steemit.com/@#{post.steem_author}"
  %td
    %relative_timestamp= post.created_at.iso8601
  %td
    %span{uib_tooltip: public_post_detailed_payout(post)}
      = post.best_payout_value
  %td= post.content.active_votes.size
  %td
    - if post.rejected? && !!post.notes
      = link_to truncate(post.title, length: 75), post.canonical_url,
        data: { confirm: post.notes }
    - else
      = link_to truncate(post.title, length: 75), post.canonical_url
