%tr
  %td= link_to post.author, "https://steemit.com/@#{post.author}"
  %td
    %relative_timestamp= post.created_at.iso8601
  %td= post.content.pending_payout_value
  %td= post.content.active_votes.size
  %td= link_to truncate(post.title, length: 80), post.canonical_url