= form_for @post do |f|
  = f.hidden_field :project_id, ng_model: 'project_id', splatnit: true

  .container{ng_controller: 'PostLookupCtrl'}
    .row
      .col-sm-12
        - if @post.errors.any?
          %form-errors{data: {errors: @post.errors.full_messages.to_json}}
    .row
      .col-sm-12
        %fieldset.form-group{ng_class: "{'has-warning' : !!slug_warning}"}
          -# = f.label :slug, 'URL/Permlink'
          -# %button.label.label-pill.label-info.pull-xs-right{ng_if: '!!slug', ng_click: 'loadItemDetails($event)'}
          -#   Fetch Post
          = f.text_field :slug, class: 'form-control', autofocus: true, ng_model: 'slug', splatnit: true
          %small.text-muted
            You can paste a steemit URL here.
            %span{ng_if: '!!slug_warning'}
              .alert.alert-warning {{slug_warning}}
    .row
      .col-sm-12
        %fieldset.form-group
          = f.label :status
          = f.select :status, Post::ALLOWED_STATUS, { include_blank: false },
            class: 'form-control form-control-sm', data: {chosen: true},
            ng_model: 'status', splatnit: true
    .row
      .col-sm-12
        %fieldset.form-group
          = f.label :notes, 'Notes'
          = f.text_area :notes, class: 'form-control', ng_model: 'notes', splatnit: true
          .small.alert.alert-warning{ng_show: "!!notes"}
            Keep in mind, notes are public.  They appear as tool tips on the
            public page.  If a post is ever rejected + published, these notes
            will also appear as a dialog when the user clicks on the link on
            the public page.
    .row
      .col-sm-12
        = f.select :published, [['published', true], ['unpublshed', false]], { include_blank: false },
          class: 'form-control form-control-sm', data: {chosen: true},
          ng_model: 'published', splatnit: true
        .small.alert.alert-warning{ng_show: "publishWarning()"}
          Typically, a post should only be published if the status is:
          %code accepted
    .row
      .col-sm-12
        %fieldset.form-group
    .row
      .col-sm-12
        %fieldset.form-group
          - if !!@post.project
            - if @post.persisted?
              = f.submit 'Save', class: 'btn btn-primary'
            - else
              = f.submit 'Create', class: 'btn btn-primary'
            = link_to 'Cancel', project_posts_path(@post.project_id), class: 'btn btn-info'
          - else
            = f.submit class: 'btn btn-primary'
            = link_to 'Cancel', posts_path, class: 'btn btn-info'
