.card{ng_controller: 'PostCardCtrl', in_view_container: true, in_view: 'showCard ? showCard : showCard = $inview', in_view_options: '{ debounce: 100 }'}
  .card-block
    .card-title
      .list-group-item-heading
        - if post.rejected?
          %label.alert.alert-danger.glyphicon.glyphicon-flag
            Rejected
        %strong= link_to post.title, post.canonical_url
        .pull-xs-right.nga-default.nga-stagger-slow.nga-fade{ng_if: 'showCard'}
          %small
            Post by:
            = link_to "@#{post.steem_author}", "https://steemit.com/@#{post.steem_author}"
            %br
            Added by:
            = post.editing_user.nick
            = surround '(', ')' do
              %relative_timestamp= post.created_at.iso8601
      %p.list-group-item-text
        = post.steem_category
  - if post.content?
    %ul.list-group.list-group-flush.nga-fast.nga-rotate-up{ng_if: 'showCard'}
      %li.list-group-item
        %span
          Total Payout:
          = post.content.total_payout_value
          |
        %span
          Pending Payout:
          = post.content.pending_payout_value
          |
        %span
          Votes:
          = post.content.active_votes.size
        %small.pull-xs-right
          Posted:
          %relative_timestamp= post.steem_created + 'Z'
          
  - if !!post.notes
    .card-block
      .list-group-item-text
        %p= post.notes
            
  .card-block
    .row
      .col-sm-6
        .btn-group
          - if current_user_has_membership?(post.project)
            = link_to 'Edit', edit_project_post_path(post.project, post), class: 'btn btn-info btn-sm card-link'
        - if post.plagiarism_checked? && !!post.plagiarism_results_url
          = link_to "Plagiarism Results",
          post.plagiarism_results_url,
          class: 'btn btn-info btn-sm card-link'
        - elsif defined?(Plagiarism) && !!Plagiarism.username
          - if !!post.plagiarism_checked?
            = link_to "Plagiarism Check",
            check_for_plagiarism_post_path(post),
            class: 'btn btn-info btn-sm card-link', method: :post,
            uib_tooltip: "#{pluralize(Plagiarism.credits, 'credits')} remain",
            data: { confirm: "Each plagiarism check costs the server owner 5¢ USD.  This post was already checked #{time_ago_in_words(post.plagiarism_checked_at)} ago, results were empty.  Continue?" }
          - else
            = link_to "Plagiarism Check",
            check_for_plagiarism_post_path(post),
            class: 'btn btn-info btn-sm card-link', method: :post,
            uib_tooltip: "#{pluralize(Plagiarism.credits, 'credits')} remain",
            data: { confirm: "Each plagiarism check costs the server owner 5¢ USD.  Continue?" }
      .col-sm-6
        .pull-xs-right.btn-group
          - if current_user_has_membership?(post.project)
            = link_to 'Delete', project_post_path(post.project, post), method: :delete, data: {confirm: 'Are you sure?', remote: true}, class: 'btn btn-danger btn-sm card-link'
