.card{ng_controller: 'PostCardCtrl',
in_view_container: true,
in_view: 'showCard ? showCard : showCard = $inview',
in_view_options: '{ debounce: 100 }',
class: post_card_class(post)}
  .card-block
    .card-title
      .list-group-item-heading
        %strong
          = link_to post.title, post.canonical_url
          - if post.rejected?
            %span.tag.tag-danger.glyphicon.glyphicon-flag (Rejected)
        .pull-xs-right.nga-default.nga-stagger-slow.nga-fade{ng_if: 'showCard'}
          %small
            Post by:
            = link_to "@#{post.steem_author}", "https://steemit.com/@#{post.steem_author}"
            %br
            Added by:
            = post.editing_user.nick
            = surround '(', ')' do
              %relative_timestamp= post.created_at.iso8601
      %p.list-group-item-text
        = post.steem_category
  - if post.content?
    %ul.list-group.list-group-flush.nga-fast.nga-rotate-up{ng_if: 'showCard'}
      %li.list-group-item
        %span
          Total Payout:
          = post.content.total_payout_value
          |
        %span
          Pending Payout:
          = post.content.pending_payout_value
          |
        %span
          Votes:
          = post.content.active_votes.size
        - if !!post.top_voter_account
          |
          %span
            Top Vote:
            %abbr{uib_tooltip: post.voters_sorted_by_weight.last(10).reverse.map(&:voter).join(' ') + ' ...'}
              = post.top_voter_account
              = surround '(', ')' do
                = "%.2f%" % (post.top_voter.percent.to_f / 100)
        %small.pull-xs-right
          Posted:
          %relative_timestamp= post.steem_created + 'Z'
  - if !!post.notes
    .card-block
      .list-group-item-text
        %p= post.notes
            
  .card-block
    .row
      .col-sm-6
        .btn-group
          - if current_user_has_membership?(post.project)
            = link_to 'Edit', edit_project_post_path(post.project, post), class: 'btn btn-info btn-sm card-link'
        - if post.plagiarism_checked? && !!post.plagiarism_results_url
          = link_to "Plagiarism Results",
          post.plagiarism_results_url,
          class: 'btn btn-info btn-sm card-link',
          ng_click: "modalPlagiarismResults($event, #{post.id}, '#{post.plagiarism_results_url}', '#{post.plagiarism_checked_at}')"
        - elsif defined?(Plagiarism) && !!Plagiarism.username
          = link_to "Plagiarism Check",
          check_for_plagiarism_post_path(post),
          class: 'btn btn-info btn-sm card-link',
          uib_tooltip: copyscape_credit_balance,
          ng_click: "modalPlagiarismResults($event, #{post.id}, '#{post.plagiarism_results_url}', '#{post.plagiarism_checked_at}')"
      .col-sm-6
        .pull-xs-right.btn-group
          - if current_user_has_membership?(post.project)
            = link_to 'Delete', project_post_path(post.project, post), method: :delete, data: {confirm: 'Are you sure?', remote: true}, class: 'btn btn-danger btn-sm card-link'

%script{id: "modal_plagiarism_results.html", type: "text/ng-template"}
  .modal-body.large
    %span{ng_bind_html: 'plagiarism_results'}
  .modal-footer
    %button.btn.btn-warning{ng_click: "done()", type: "button"} Done
