%hr
.row
  .col-sm-3
    %h3
      = pluralize @posts.except(:select).count, 'Post'
      (this week)

  .col-sm-9
    = form_tag url_for(action: controller.action_name), method: :get do
      .row
        .col-sm-12
          .input-group
            .input-group-addon Query
            = text_field_tag :query, @query, placeholder: 'Query Text',
            class: 'form-control form-control'
      .row
        .col-sm-6
          .input-group
            .input-group-addon Status
            = select_tag :status, options_for_select([['', nil]] + Post::ALLOWED_STATUS, @status),
            class: 'form-control'
        .col-sm-6
          .input-group
            .input-group-addon Published
            = select_tag :published, options_for_select([['', nil], ["Yes", true], ["No", false]], @published),
            class: 'form-control'
      .row
        .col-sm-9
          .input-group
            .input-group-addon Limit
            = number_field_tag :limit, @limit, placeholder: 'Limit',
            maxlength: 4, class: 'form-control form-control'
        .col-sm-3= submit_tag 'Search',
        class: 'btn btn-info btn form-control form-control'
